html, body {
  margin: 0;
  padding: 0;
  background: #000;
}
canvas {
  display: block;
}
div#p5js-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dg .property-name {
  text-transform: capitalize;
}
#guiContainer {
  position: fixed;
  right: 0;
}
@media screen and (min-width: 900px) {
  #guiContainer {
    top: 0;
  }
}
@media screen and (max-width: 900px) {
  #guiContainer {
    bottom: 0;
  }
}