html, body {
  margin: 0;
  padding: 0;
  background: #000;
}
canvas {
  display: block;
}
div#p5js-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
label {
    color: white;
}
output {
  color: white;
}
.spacer {
  height: 20px;
}
/* Desktops */
@media (min-width: 1281px) {
  #controls{
    position: absolute;
    width: 300px;
    top: 20px;
    left: 10px;
  }
  div#link {
    margin-top: 30px;
  }
}

.copyleft {
  display:inline-block;
  transform: rotate(180deg);
}

div#link {
  text-align: center;
  margin-bottom: 30px;
  font-size: 16px;
  margin-bottom: 30px;
}

/* Laptops */
@media (min-width: 1025px) and (max-width: 1280px) {
    
}

/* Tablets, Ipads (portrait) */
@media (min-width: 768px) and (max-width: 1024px) {
  
}

/* Tablets, Ipads (landscape) */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
}

/* Low Resolution Tablets, Mobiles (Landscape) */
@media (min-width: 481px) and (max-width: 767px) {
  
}

/* Most of the Smartphones Mobiles (Portrait) */
@media (min-width: 320px) and (max-width: 480px) {
    
}